.masuk1 {
    flex: 1;
    position: relative;
    line-height: 36px;
  }
  .masuk {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .emailnoTelepon {
    align-self: stretch;
    position: relative;
    line-height: 18px;
  }
  .input,
  .inputChild {
    align-self: stretch;
    display: flex;
  }
  .inputChild {
    padding: 35px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border: 1px solid white;
    font-family: 'montserrat';
    width: 50%;
    margin-left: 25%;
  }
  .input {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
  }
  .lupaKataSandi,
  .password {
    position: relative;
    line-height: 18px;
  }
  .password {
    flex: 1;
  }
 
  .textpassword {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
  }
  .forminput,
  .terbitkan {
    font-size: 14px;
    font-family: Poppins;
  }
  .forminput {
    padding: 35px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border: 1px solid white;
    font-family: 'montserrat';
    width: 50%;
    margin-left: 25%;
  }
  
  
  .button {
    height: 50px;
  background-color: #068BC5;
  font-size: 15px ;
  font-weight: bold;
  border: #068BC5;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  text-align: center;
  margin-top: 30px;
  margin-left: 43%;
  }
  .button:hover {
    background-color: grey;
    color: white;
    border: #068BC5;
    
  }
  
  .formlogin {
    flex: 1;
    overflow: hidden;
    flex-direction: column;
    gap: 32px;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Poppins;
    margin-top: 5%;
  }

  .image{
    width: auto;
    height: auto;
    margin-left:  155%;
    margin-bottom: 5%;
  }

