.container{
   align-items: center;
   gap: 50px;
}



.imgcontainer{
    flex: 1;
    height: 300px;
    position: relative;
    
}

.img{
    object-fit: cover;
}

.content{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}